<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="marivic.conservado.com.projectlayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CaloocanEvacuationList" />
        <activity android:name=".MakatiEvacuationList" />
        <activity android:name=".MandaluyongEvacuationList" />
        <activity android:name=".ManilaEvacuationList" />
        <activity android:name=".NavotasEvacuationList" />
        <activity android:name=".PasayEvacuationList" />
        <activity android:name=".QuezonCityEvacuationList" />
        <activity android:name=".SanJuanEvacuationCenterList" />
        <activity android:name=".TaguigEvacuationCenterList" />
        <activity android:name=".ValenzuelaEvacuationCenterList" />
        <activity android:name=".Laloma" />
        <activity android:name=".ManilaCentralUniversity" />
        <activity android:name=".BarangayBangkalHall" />
        <activity android:name=".UniversityOfMakati" />
        <activity android:name=".MandaluyongCityGymnasium" />
        <activity android:name=".MandaluyongElementarySchool" />
        <activity android:name=".CorazonAquinoHighschool" />
        <activity android:name=".ust" />
        <activity android:name=".NavotasElemtarySchool" />
        <activity android:name=".NavotasNationalHighschool" />
        <activity android:name=".pasaysportscomplex" />
        <activity android:name=".PASAYCunetaAstrodome" />
        <activity android:name=".sinagtalaelemtaryschool" />
        <activity android:name=".stodomingoparishchurch" />
        <activity android:name=".pinaglabanmemorialshrine" />
        <activity android:name=".barangaysalapanhall" />
        <activity android:name=".Senator" />
        <activity android:name=".taguigsciencehighschool" />
        <activity android:name=".scenter" />
        <activity android:name=".parada"></activity>
    </application>

</manifest>